@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="margin-top:50px;">
    <h2 style="text-align:center">Pdf tool application</h2>
    <p class="lead" style="text-align:center">This is a simple application to view data and export to a pdf file using ASP.NET framework and HTML, JS, CSS.</p>
</div>