@model PdfTool.Models.IndicatorsViewModel
@{
    ViewBag.Title = "Indicators";
}

<div class="row" style="margin-top:50px">
    <div class="col-md-4">
        @using (Html.BeginForm("TemperatureValue", "Home", FormMethod.Get))
        {
            <fieldset style="margin-bottom:50px;">
                @Html.Label("Choose gas generator: ")
                @Html.DropDownList("generatorName", new SelectList(Model.Generators, "Value", "Text", Model.SelectedGenerator), "Please select", new { @class = "form-control", @id = "generator_select" })
            </fieldset>
        }
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        @using (Html.BeginForm("DownloadFile", "Home", FormMethod.Post))
        {
            <input type="hidden" id="selected" name="generatorName" />
            <button id="export" type="submit" class="btn pull-right" disabled="disabled" > Report PDF </button>
        }
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table id="indicators" class="table table-striped table-bordered table-sm" cellspacing="0">
            <thead>
                <tr>
                    <th>ServerName</th>
                    <th>TagName</th>
                    <th>Value</th>
                    <th>Date</th>
                    <th>Questionable</th>
                    <th>Substituted</th>
                    <th>Annotated</th>
                </tr>
            </thead>
            <tbody id="temperatureValues"></tbody>

        </table>
    </div>
</div>



@section Scripts {
<script type="text/javascript">
    var datatable = $('#indicators').DataTable({
        columns: [
            { data: 'ServerName' },
            { data: 'TagName' },
            { data: 'Value' },
            { data: 'Date' },
            { data: 'Questionable' },
            { data: 'Substituted' },
            { data: 'Annotated' }
        ],
        pageLength: 25
    });
    $("#generator_select").change(function () {
        var gname = $(this).val();
        var isDefVal = gname == "";
        console.log(isDefVal);
        console.log(gname);
        $("#export").attr("disabled", isDefVal);
        $("#selected").val(gname);
            var url = '@Url.Action("IndicatorValue", "Home")';
            $.ajax({
                url: url,
                type: "GET",
                data: {
                    generatorName: gname
                }
            }).done(function (response) {
                datatable.clear();
                datatable.rows.add(response);
                datatable.draw();
            });
    });
</script>
}

